page-lucros {
    .fab {
        contain: initial;
  
      }
   
      ion-fab {
          ion-fab-list button[ion-fab] {
              overflow: visible;
   
              div.label {
                position: absolute;
                right: 48px;
                background: rgba(0,0,0,0.4);
                height: 24px;
                line-height: 16px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 3px;
                color: #fff;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
              }
          }
      }
    .btnLucro{
        margin-left: 8px;
    }
    .select{
        width: 100px !important;
    }
}
