page-home {
    .boxInicio{
        height: 30%;
        padding-top: 5%;
        background: linear-gradient(to bottom, #0066cc 28%, #488aff 100%);
    }
    .select{
        width: 100px !important;
    }
}
